body{
    font-family:Arial,Helvetica,sans-serif;
    background:#f4f4f4;
    margin:0;
}

.container{
    width:80%;
    margin:auto;
    background:white;
    margin-top:30px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

h1,h2{
    text-align:center;
}

input,select,button{
    width:100%;
    padding:10px;
    margin:8px 0;
}

button{
    background:#007BFF;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table,th,td{
    border:1px solid gray;
}

th,td{
    padding:10px;
    text-align:center;
}

hr{
    margin:30px 0;
}